# Print Cooling: PA8
# Hotend: PE5
# NEVERMORE: PD12
# Electronics: PD13,PD14
# Exhaust: PD15

[fan]
pin: PA8
kick_start_time: 0.5
off_below: 0.10

[heater_fan hotend_fan]
pin: PE5
kick_start_time: 0.5
off_below: 0.10
heater: extruder
heater_temp: 50.0
tachometer_pin: ^PG11

[controller_fan controller_fan_1]
pin: PD13
kick_start_time: 0.5
heater: heater_bed

[controller_fan controller_fan_2]
pin: PD14
kick_start_time: 0.5
heater: heater_bed

[fan_generic exhaust_fan]
pin: PD15
shutdown_speed: 0.0
kick_start_time: 5.0
off_below: 1.0

[heater_fan nevermore]
pin: PD12
shutdown_speed: 0.0
kick_start_time: 5.0
heater: heater_bed
heater_temp: 50
fan_speed: 1.0