[gcode_macro WIPE_AND_CALIBRATE_Z]
gcode:
  #_FIRST_CALIBRATION
  M118 Calibrating Z (1. sample)..
  CLEAN_NOZZLE
  G91
  G1 Y-30 F30000
  G90
  CALIBRATE_Z

[gcode_macro _FIRST_CALIBRATION]
gcode:
    M118 Calibrating Z (1. sample)..
    CLEAN_NOZZLE
    G91
    G1 Y-30 F30000
    G90
    CALIBRATE_Z
    _SECOND_CALIBRATION

[gcode_macro _SECOND_CALIBRATION]
gcode:
    M118 Calibrating Z (2. sample)..
    {% set first = printer['z_calibration'].last_z_offset %}
    CLEAN_NOZZLE
    G91
    G1 Y-30 F30000
    G90
    CALIBRATE_Z
    _ENSURE_OFFSET_OK FIRST={first}

[gcode_macro _ENSURE_OFFSET_OK]
gcode:
  {% set samples = [params.FIRST | float, printer['z_calibration'].last_z_offset] %}
  {% set range = ((samples | max) - (samples | min)) | abs %}
  M118 Range: {range}
  {% if range > 0.05 %}
    RESPOND TYPE=error MSG="Z offset doesn't seem right"
    CANCEL_PRINT
  {% endif %}
